<!DOCTYPE html><html><head><meta charset=utf-8><meta name=format-detection content="telephone=no"><meta name=viewport content="initial-scale=1,maximum-scale=1,user-scalable=no"><title>下班吃啥</title><style>html, body {
        height: 100%
      }
      body, div, p {
        margin: 0
      }</style><link href=/css/app.8ef95722324e0d2c950acfe0a39bc9ad.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/js/manifest.cd36e6523d015c504389.js></script><script type=text/javascript src=/js/vendor.05b7db80a58ce647fb37.js></script><script type=text/javascript src=/js/app.d23b8201908121dfc9b2.js></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?dcfa320f3848c24822c7ca668c9467b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
      </body></html>