<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title> 🐣🍄🐱🐾🍭 </title>
  <style>
    body {
      background: rgb(173, 216, 230);
    }
    h1 {
      margin: 10px 0;
      font-size: 24px;
    }
    i {
      font-size: 18px;
    }
    .w {
      position: fixed;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      -webkit-transform: translate3d(0, -50%, 0);
      text-align: center;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="w">
    <h1 class="title"></h1>
    <i class="motto"></i>
  </div>
  <script src="https://dn-longhou.qbox.me/_/script/motto.js"></script>
  <script>
    new Motto('.title', {
      lyric: 'hey 17',
      flashSpeed: 200,
      flashTimeout: 1000
    })
    new Motto('.motto', {
      lyric: 'i will love u 4ever',
      showUpSpeed: 100,
      flashSpeed: 100
    })

  </script>
</body>
</html>