<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>LongZhou</title>
  <meta name="apple-mobile-web-app-title" content="LongZhou's Blog">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-siteapp">
</head>
<body>
  <div id="content"></div>
  <script src="/script/zepto.js"></script>
  <script src="/h5/dist/bundle.js"></script>
</body>
</html>